<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

  <body>
    <div th:replace="layout :: navbar">(navbar)</div>

    <div class="container">
      <div class="starter-template">
      <div class="row-fluid">
	       <ol class="breadcrumb">
			  <li><a th:href="@{/}" >Home</a></li>
			  <li><a href="#" class="active">Alunos</a></li>
			</ol>
        </div>
      
      <div class="row">
	       <div class="page-header"> 
	       		<h1>Alunos</h1>
	       </div>
       </div>
       
       <div class="row">
	       <p>
		     <a th:href="@{/aluno/new}" class="btn btn-primary">Novo Aluno</a>
		   </p>
       </div>
       
       
  		<div class="row">
		    <table id="tbaluno" class="display" cellspacing="0" width="100%">
		      <thead>
		      <tr>
		        <th>Id</th>
		        <th>Nome</th>
		        <th>Celular</th>
		        <th>E-mail</th>
		        <th></th>
		      </tr>
		      </thead>
		      
		      <tfoot>
		      <tr>
		        <th>Id</th>
		        <th>Nome</th>
		        <th>Celular</th>
		        <th>E-mail</th>
		        <th></th>
		      </tr>
		      </tfoot>
		      
		      <tbody>
		      <tr th:each="aluno : ${alunos}">
		        <td th:text="${aluno.id}">id</td>
		        <td th:text="${aluno.name}">name</td>
		        <td th:text="${aluno.contato.movel}">movel</td>
		        <td th:text="${aluno.contato.email}">email</td>
		        <td>
		        	<a th:href="@{/aluno/{id}/edit(id=${aluno.id})}" class=" btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
		        	<a th:href="@{/aluno/{id}/delete(id=${aluno.id})}" class="delete btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Excluir"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
		        	<a th:href="@{/aluno/{id}/detail(id=${aluno.id})}" class="btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Ver detalhes"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
		        </td>
		      </tr>
		      </tbody>
		    </table>
        </div>
      </div>
    </div>

    <div th:include="layout :: footer" id="footer">(footer)</div>
	<script th:src="@{/webjars/datatables/1.10.6/js/jquery.dataTables.min.js}"></script>
	<script>
		$(document).ready(function() {
		    $('#tbaluno').DataTable({
			    	"language": {
		                "url": "/localisation/pt_BR.json"
		            }
			    });

		    $('[data-toggle="tooltip"]').tooltip();
		} );

		$(document).on("click", '.delete', function (event) {
			if (!confirm("Deseja realmente exluir o item ?")){
		          return false;
		    }
		});
	</script>
	<div th:utext="${msginfo}"></div>
  </body>
</html>