<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout :: htmlhead" th:with="title='Hello'">

</head>
<body>
	<div th:replace="layout :: navbar">(navbar)</div>

	<div class="container">
		<div class="starter-template">
			
			
			<div class="page-header">
<!-- 				<h1><span th:text="(${user['new']} ? 'Novo Professor' : ${user.username})"></span></h1>  -->
				<h1>Mudar senha</h1>
			</div>
			<div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/><br/>
			
			
			<form action="#" th:action="@{/savePassword}" method="post" data-parsley-validate="">
			
				<div class="row">
					<div class="col-md-6">
						<fieldset>
							<div class="form-group">
								<label for="passcheck">Senha <span style="color:red;">*</span></label> 
								<input type="password" id="passcheck" class="form-control" th:name="password" data-parsley-required="true"/>
								
							</div>
							<div class="form-group">
								<label for="passcheck2">Confirmar Senha <span style="color:red;">*</span></label> 
								<input type="password" id="passcheck2" class="form-control" data-parsley-required="true" data-parsley-equalto="#passcheck"/>
							</div>
							
							<div>
								<input type="submit" class="btn btn-primary" value="Mudar" />
							</div>
						</fieldset>
					</div>	
				</div>
			 </form>
		</div>
	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script src="../static/js/uihelper.js" th:src="@{/js/uihelper.js}"></script>
	<script src="../static/js/jquery.pwstrength.bootstrap-1.2.5/pwstrength-bootstrap-1.2.5.min.js" th:src="@{/js/jquery.pwstrength.bootstrap-1.2.5/pwstrength-bootstrap-1.2.5.min.js}"></script>
	<script>
		$('#passcheck').pwstrength();
	</script>
    <div th:utext="${msginfo}"></div>
</body>
</html>
