<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="layout :: htmlhead" th:with="title='Hello'"></head>

<body>
	<div th:replace="layout :: navbar">(navbar)</div>

	<div class="container">
		<div class="starter-template">
			<div class="row-fluid">
				<ol class="breadcrumb">
				  <li><a th:href="@{/}" >Home</a></li>
				  <li><a th:href="@{/turma}" >Turmas</a></li>
				  <li><a href="#" > <span th:text="${ingresso.turma.name}"></span> </a></li>
				  <li><a href="#" class="active"> <span th:text="(${ingresso['new']} ? 'Nova Matrícula' : ${ingresso.aluno.name})"></span> </a></li>
				</ol>
			</div>
		
			<div class="page-header">
				<h1>Inscrição para <span th:text="${ingresso.turma.name}">Turma</span></h1>
			</div>
			<div><span style="color:red;">*</span> Indica campos obrigatórios</div><br/>

			<form class="frm" th:action="@{${#httpServletRequest.servletPath}}" th:object="${ingresso}" method="post" data-parsley-validate="">
				<div>
				
					<div class="row">
						<div class="col-md-8">	
							<div class="form-group">
								<label for="aluno">Aluno <span style="color:red;">*</span></label>													
								<select th:field="*{aluno}" id="aluno" class="form-control chosen-select">
								  <option th:each="aluno : ${alunos}" 
								          th:value="${aluno.id}" 
								          th:text="${aluno.name}">Wireframe</option>
								</select>																	         										
								<div th:if="${#fields.hasErrors('aluno')}" th:errors="*{aluno}">aluno Error</div>																	
							</div>
							
						</div>
<!-- 						<div class="col-md-2"> -->
<!-- 							<div class="form-group"> -->
<!-- 								<br/><a th:href="@{/aluno/new}" class="btn btn-primary">Incluir Aluno</a> -->
<!-- 							</div> -->
<!-- 						</div> -->
					</div>
					
				<div>
					<h5>Pagamento</h5>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="pagamentoformaPagamento">Forma de Pagamento <span style="color:red;">*</span></label> 
<!-- 								<input type="text" id="pagamentoformaPagamento" class="form-control" th:field="*{pagamento.formaPagamento}" /> -->
								<select th:field="*{pagamento.formaPagamento}" id="pagamentoformaPagamento" class="form-control">
								  <option th:each="formasDePagamento : ${formasDePagamento}" 
								          th:value="${formasDePagamento}" 
								          th:text="${formasDePagamento}">Wireframe</option>
								</select>
								<div th:if="${#fields.hasErrors('pagamento.formaPagamento')}" th:errors="*{pagamento.formaPagamento}">pagamento.formaPagamento Error</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="pagamentovalorBruto">Valor Bruto <span style="color:red;">*</span></label> 
								<input type="text" id="pagamentovalorBruto" class="form-control" disabled="true" />
								<input type="hidden" id="pagamentovalorBrutoHidden" th:field="*{pagamento.valorBruto}" />
								<div th:if="${#fields.hasErrors('pagamento.valorBruto')}" th:errors="*{pagamento.valorBruto}">pagamento.valorBruto Error</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="pagamentodesconto">Desconto (%) <span style="color:red;">*</span></label> 
								<input type="text" id="pagamentodesconto" class="form-control" th:field="*{pagamento.desconto}" />
								<div th:if="${#fields.hasErrors('pagamento.desconto')}" th:errors="*{pagamento.desconto}">pagamento.desconto Error</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="pagamentovalorPago">Valor Pago <span style="color:red;">*</span></label> 
								<input type="text" id="pagamentovalorPago" class="form-control" disabled="true"/>
								<input type="hidden" id="pagamentovalorPagoHidden" th:field="*{pagamento.valorPago}"  />
								<div th:if="${#fields.hasErrors('pagamento.valorPago')}" th:errors="*{pagamento.valorPago}">pagamento.cidade Error</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3">
							<div class="form-group">
								<label for="parcelas">Parcelas <span style="color:red;">*</span></label> 

								<select id="parcelas" class="form-control">
								  <option th:each="n : ${parcelas}" 
								          th:value="${n}" 
								          th:text="${n}">Wireframe</option>
								</select>
								<input type="hidden" id="parcelasHidden" th:name="parcelas"  />
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="valorDaParcela">Valor Parcela <span style="color:red;">*</span></label> 
								<input type="text" id="valorDaParcela" class="form-control included"  disabled="true"/>
								<input type="hidden" id="valorParcela" th:name="valorParcela" />

							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								
								<div class="checkbox">
									<br/>
									<label> 
										<input type="checkbox" id="primeiraParcelaAVista" th:name="primeiraParcelaAVista" checked="true"/> Primeira parcela à Vista.
									</label>
								</div> 
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group">
								<label for="diaVencimento">Dia Vencimento <span style="color:red;">*</span></label> 
								<input type="text" id="diaVencimento" class="form-control" th:name="diaVencimento" />
							</div>
						</div>
						
						
					</div>
				</div>
				
				<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="obs">Observações </label> 
								<textarea name="obs" id="obs" rows="10" cols="80"
									th:field="*{obs}" class="ckeditor">
		            			</textarea>	
								<div th:if="${#fields.hasErrors('obs')}" th:errors="*{obs}">obs Error</div>
							</div>
						</div>
					</div>
				</div>
				
				<div>
					<input type="submit" class="btn btn-primary" th:value="(${ingresso['new']} ? 'Incluir' : 'Atualizar')" />
					<a th:href="@{/turma/{id}/detail(id=${ingresso.turma.id})}" class="btn btn-primary">Cancelar</a>
				</div>
			</form>
		</div>
	</div>

	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script type="text/javascript">
		$(function() {
			$(".chosen-select").chosen();
			
			var d = new Date();
			$("#diaVencimento").val(d.getDate());
			
			$("#pagamentodesconto").val("0");
			
			$("#pagamentovalorBruto").val($("#pagamentovalorBrutoHidden").val());
			$("#pagamentovalorPago").val($("#pagamentovalorBrutoHidden").val());
			$("#pagamentovalorPagoHidden").val($("#pagamentovalorBrutoHidden").val());
			$("#valorDaParcela").val( $("#pagamentovalorBrutoHidden").val() ); 
			$("#valorParcela").val( $("#pagamentovalorBrutoHidden").val() );
			$("#parcelas").prop('disabled', true);
			$("#parcelasHidden").val( $("#parcelas option:selected").val() );
		});

		$(document).on("change", '#pagamentodesconto', function () {
			var valorLiq =  Number($("#pagamentovalorBruto").val()) - ((Number($("#pagamentodesconto").val()) / 100) * Number($("#pagamentovalorBruto").val()));
			$("#pagamentovalorPago").val(valorLiq); 
			$("#pagamentovalorPagoHidden").val(valorLiq); 

			var valorParcela =  Number($("#pagamentovalorPago").val()) / Number($("#parcelas").val());
			$("#valorDaParcela").val(valorParcela); 
			$("#valorParcela").val($("#valorDaParcela").val());
		});
		$(document).on("change", '#parcelas', function () {
			
			var valorParcela =  Number($("#pagamentovalorPago").val()) / Number($("#parcelas").val());
			$("#valorDaParcela").val(valorParcela);
			$("#valorParcela").val($("#valorDaParcela").val()); 
			$("#parcelasHidden").val( $("#parcelas option:selected").val() );
		});
		$(document).on("change", '#valorDaParcela', function () {
			$("#valorParcela").val($("#valorDaParcela").val()); 
		});
		$(document).on("change", '#pagamentoformaPagamento', function () {
			
			if ($( "#pagamentoformaPagamento option:selected" ).val() !== "Dinheiro" || 
					$( "#pagamentoformaPagamento option:selected" ).val() !== "Cartão de Débito") {

				$("#parcelas").prop('disabled', false);
			} 
			if ($( "#pagamentoformaPagamento option:selected" ).val() === "Dinheiro" || 
					$( "#pagamentoformaPagamento option:selected" ).val() === "Cartão de Débito"){
				
				$("#parcelas").val(1).change();
				//$("#parcelas option[value=1]").attr('selected', 'selected');
				$("#parcelas").prop('disabled', true);
				$("#parcelas").trigger('change', true);
				
			}
			
			$("#valorParcela").val($("#valorDaParcela").val()); 
		});
		
	</script>
	
	<div th:utext="${msginfo}"></div>
</body>
</html>